*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
  font-style: normal;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
}

header {
  position: relative;
  padding: 3rem 9rem;
  border-radius: 0 0 0 6rem;
  background: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, hsl(13, 100%, 72%) 5%, hsl(353, 100%, 62%) 60%);
  color: hsl(0, 0%, 100%);
  background-size: 200%;
  background-position: left 17% bottom 47%;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.menu-container nav ul {
  display: flex;
  gap: 1.2rem;
}
.menu-container nav ul li {
  color: #FFE0DD;
  display: flex;
  gap: 0.3rem;
}
.menu-container .connexion-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu-container .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 6rem;
}
.content h1 {
  font-size: 4rem;
  font-weight: 500;
  font-family: Overpass;
}
.content .subtitle {
  margin: 1rem auto;
  color: #FFE0DD;
}
.content .intro-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1.5rem auto;
}

.section1 {
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9rem;
  overflow: hidden;
}
.section1 h2 {
  margin: 150px auto;
  position: absolute;
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 2.5rem;
}
.section1 .section1-content {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.section1 .section1-content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-top: 4rem;
}
.section1 .section1-content .text h3 {
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 1.8rem;
  margin: 1.5rem 0;
}
.section1 .section1-content .text p {
  color: hsl(207, 13%, 34%);
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.section1 .section1-content .picture {
  width: 50%;
  padding: 5rem;
}
.section1 .section1-content .picture img {
  position: absolute;
}

.section2 {
  display: flex;
  align-items: center;
  height: 400px;
  padding-right: 9rem;
  padding-left: 7rem;
  border-radius: 0 6rem 0 6rem;
  background: url(../images/bg-pattern-circles.svg), linear-gradient(90deg, hsl(237, 17%, 21%) 5%, hsl(237, 23%, 32%) 60%);
  background-position: left -50% top 80%;
  background-repeat: no-repeat;
  color: hsl(0, 0%, 100%);
}
.section2 .picture {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-top: 40px;
  padding-right: 1.5rem;
}
.section2 .text {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section2 .text h2 {
  margin-bottom: 2rem;
  font-family: Overpass;
  font-size: 2.5rem;
  font-weight: 500;
}
.section2 .text p {
  font-size: 1rem;
  line-height: 2rem;
}

.section3 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  align-items: center;
  padding: 2rem 9rem;
  overflow: hidden;
}
.section3 .picture {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-right: 1.5rem;
}
.section3 .text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 4rem;
}
.section3 .text h3 {
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 1.8rem;
  margin: 1.5rem 0;
  width: 100%;
}
.section3 .text p {
  color: hsl(207, 13%, 34%);
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

footer {
  color: hsl(0, 0%, 100%);
  background: hsl(240, 10%, 16%);
  padding: 4rem 9rem;
  border-radius: 0 6rem 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
footer .footer-category {
  display: flex;
  flex-direction: column;
  width: 25%;
}
footer .footer-category p {
  font-weight: 500;
  margin-bottom: 2.5rem;
}
footer .footer-category ul {
  display: flex;
  flex-direction: column;
}
footer .footer-category ul li {
  color: hsl(240, 2%, 79%);
  margin-bottom: 1.1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  height: 3rem;
  width: 8rem;
}
.btn.btn-white {
  color: hsl(356, 100%, 66%);
  background: hsl(0, 0%, 100%);
}
.btn.btn-borded {
  color: #FFE0DD;
  border: 1px solid #FFE0DD;
}

/*# sourceMappingURL=main.css.map */
