/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

input,
textarea,
button,
select,
span,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  line-height: 1;
  font-family: "Ubuntu";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea {
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

header .inside {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4rem 9rem 4rem 9rem;
  gap: 1.5rem;
  transition: all 0.3s ease;
}
header .inside .mobile-menu-btn {
  display: flex;
}
header .inside .mobile-menu-btn .burgerBtn {
  display: none;
  cursor: pointer;
  height: 24px;
  width: 32px;
}
header .inside .mobile-menu-btn .closeBtn {
  display: none;
  cursor: pointer;
}
header .inside .menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
header .inside .menu-container .nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .inside .menu-container .nav .nav-links {
  display: flex;
  gap: 2rem;
  height: 100%;
}
header .inside .menu-container .nav .nav-links .category-link {
  position: relative;
  display: flex;
  height: 100%;
  transition: all 0.3s ease;
}
header .inside .menu-container .nav .nav-links .category-link .menuTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe0dd;
  gap: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
header .inside .menu-container .nav .nav-links .category-link .menuTitle:hover {
  text-decoration: underline;
}
header .inside .menu-container .nav .nav-links .category-link .menuTitle span .arrow-dark {
  display: none;
}
header .inside .menu-container .nav .nav-links .category-link .menuTitle span span .arrow-light {
  display: flex;
}
header .inside .menu-container .nav .nav-links .category-link:hover > .menuItems {
  display: flex;
}
header .inside .menu-container .nav .nav-links .category-link:active > .menuItems {
  display: flex;
}
header .inside .menu-container .nav .nav-links .category-link:hover > .menuTitle span img {
  transform: rotate(180deg);
}
header .inside .menu-container .nav .nav-links .category-link:active > .menuTitle span img {
  transform: rotate(180deg);
}
header .inside .menu-container .nav .nav-links .category-link .menuItems {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: -1.5rem;
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  gap: 1rem;
  margin: 1rem 0;
  padding: 2rem 3rem 1.5rem 1.5rem;
}
header .inside .menu-container .nav .nav-links .category-link .menuItems .menuItem {
  color: black;
  margin-bottom: 0.8rem;
  transition: all 0.3s ease;
}
header .inside .menu-container .nav .nav-links .category-link .menuItems .menuItem:hover {
  font-weight: bolder;
}
header .inside .menu-container .connexion {
  align-items: center;
  display: flex;
  color: #ffe0dd;
  gap: 2rem;
}
header.scrolled .inside {
  background: linear-gradient(90deg, hsl(13, 100%, 72%) 5%, hsl(353, 100%, 62%) 60%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.intro {
  position: relative;
  padding: 7rem 3rem 4rem 3rem;
  border-radius: 0 0 0 6rem;
  background: url(./images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, hsl(13, 100%, 72%) 5%, hsl(353, 100%, 62%) 60%);
  color: hsl(0, 0%, 100%);
  background-size: 220%;
  background-position: left 24% bottom 48%;
}
.intro .inside .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0 6rem 0;
  text-align: center;
}
.intro .inside .content .title {
  font-size: 4rem;
  font-weight: 500;
  font-family: Overpass;
}
.intro .inside .content .subtitle {
  margin: 1rem auto;
  color: #ffe0dd;
}
.intro .inside .content .start-learn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1.5rem auto;
}

.designed .inside {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9rem;
  margin: 10rem auto;
}
.designed .inside .title {
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 2.5rem;
}
.designed .inside .content {
  text-align: left;
  margin-top: 5rem;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.designed .inside .content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-top: 0rem;
}
.designed .inside .content .text h3 {
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 1.8rem;
  margin: 1.5rem 0;
}
.designed .inside .content .text p {
  color: hsl(207, 13%, 34%);
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.designed .inside .content .picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  padding: 5rem;
}
.designed .inside .content .picture .desktop-picture {
  display: flex;
  position: absolute;
  height: 880px;
}
.designed .inside .content .picture .mobile-picture {
  display: none;
}

.phone {
  border-radius: 0 6rem 0 6rem;
  background: url(./images/bg-pattern-circles.svg) -200px 80%/70% no-repeat, linear-gradient(90deg, hsl(237, 17%, 21%) 5%, hsl(237, 23%, 32%) 60%);
  color: hsl(0, 0%, 100%);
  padding: 8rem 0rem;
}
.phone .inside {
  display: flex;
  align-items: center;
  padding: 0rem 9rem;
}
.phone .inside .picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
.phone .inside .picture img {
  position: absolute;
  right: 3rem;
}
.phone .inside .text {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.phone .inside .text h2 {
  margin-bottom: 2rem;
  font-family: Overpass;
  font-size: 2.5rem;
  font-weight: 500;
}
.phone .inside .text p {
  color: hsl(240, 2%, 79%);
  font-size: 1rem;
  line-height: 2rem;
}

.laptop .inside {
  display: flex;
  padding: 14rem 9rem;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.laptop .inside .picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
.laptop .inside .picture img {
  position: absolute;
  right: 3rem;
}
.laptop .inside .picture .mobile-picture {
  display: none;
}
.laptop .inside .text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 4rem;
}
.laptop .inside .text h3 {
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 1.8rem;
  margin: 1.5rem 0;
  width: 100%;
}
.laptop .inside .text p {
  color: hsl(207, 13%, 34%);
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

footer {
  color: hsl(0, 0%, 100%);
  background: hsl(240, 10%, 16%);
  padding: 4rem 9rem;
  border-radius: 0 6rem 0 0;
}
footer .inside {
  display: flex;
  flex-direction: row;
}
footer .inside .footer-category {
  display: flex;
  flex-direction: column;
  width: 25%;
}
footer .inside .footer-category p {
  font-weight: 500;
  margin-bottom: 2.5rem;
  margin-top: 1.8rem;
}
footer .inside .footer-category ul {
  display: flex;
  flex-direction: column;
}
footer .inside .footer-category ul li {
  color: hsl(240, 2%, 79%);
  margin-bottom: 1.1rem;
}
footer .inside .footer-category ul li:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .designed h2 {
    margin-top: 90px;
  }
}
@media (max-width: 768px) {
  header .inside {
    padding: 2.5rem 1.5rem 2.5rem 1.5em;
  }
  header .inside .logo {
    font-size: 2rem;
    font-weight: 500;
  }
  header .inside .mobile-menu-btn {
    display: flex;
  }
  header .inside .mobile-menu-btn .burgerBtn {
    display: flex;
  }
  header .inside .mobile-menu-btn .closeBtn {
    display: none;
    cursor: pointer;
  }
  header .inside .menu-container {
    display: none;
    position: fixed;
    z-index: 10;
    color: hsl(208, 49%, 24%);
    font-size: 1.1rem;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    flex-direction: column;
    top: 8rem;
    gap: 1.5rem;
    width: 90%;
    padding: 1.5rem;
    margin: auto;
  }
  header .inside .menu-container.mobile-menu {
    display: flex;
    opacity: 1;
  }
  header .inside .menu-container .nav {
    gap: 1rem;
    border-bottom: 1px solid rgb(233, 232, 232);
  }
  header .inside .menu-container .nav .nav-links {
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
    gap: 0rem;
  }
  header .inside .menu-container .nav .nav-links .category-link {
    flex-direction: column;
    width: 100%;
  }
  header .inside .menu-container .nav .nav-links .category-link .menuTitle {
    margin: auto;
    color: hsl(208, 49%, 24%);
    margin-bottom: 1rem;
  }
  header .inside .menu-container .nav .nav-links .category-link .menuTitle span .arrow-dark {
    display: flex;
  }
  header .inside .menu-container .nav .nav-links .category-link .menuTitle span .arrow-light {
    display: none;
  }
  header .inside .menu-container .nav .nav-links .category-link .menuItems {
    position: relative;
    flex-direction: column;
    top: 0;
    left: 0;
    box-shadow: none;
    padding: 1.5rem 0;
    gap: 1rem;
    background: rgb(233, 232, 232);
  }
  header .inside .menu-container .nav .nav-links .category-link .menuItems .menuItem {
    width: 100%;
    color: hsl(208, 49%, 24%);
  }
  header .inside .menu-container .connexion {
    flex-direction: column;
    margin: 0.8rem;
    gap: 1.5rem;
    color: hsl(208, 49%, 24%);
  }
  header .inside .menu-container .connexion .btn-colored {
    color: hsl(0, 0%, 100%);
    background: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 1000%);
  }
  .intro .inside .content .title {
    font-size: 2.3rem;
  }
  .intro .inside .content .subtitle {
    margin: 1rem 1rem;
  }
  .designed .inside {
    height: auto;
    text-align: center;
    padding: 0 0.5rem;
    margin: 1rem auto;
    padding: 0 2rem;
  }
  .designed .inside .title {
    font-size: 2rem;
  }
  .designed .inside .content {
    flex-direction: column-reverse;
    margin-top: 1rem;
    padding-bottom: 17rem;
  }
  .designed .inside .content .text {
    text-align: center;
    width: 100%;
  }
  .designed .inside .content .text h3 {
    padding: 0 3rem;
  }
  .designed .inside .content .picture {
    width: 100%;
    justify-content: center;
    padding: 1.5rem 0rem;
  }
  .designed .inside .content .picture .desktop-picture {
    display: none;
  }
  .designed .inside .content .picture .mobile-picture {
    position: relative;
    display: flex;
    margin: 1rem auto;
    width: 100%;
  }
  .phone {
    text-align: center;
    background: url(./images/bg-pattern-circles.svg) center -230px/contain no-repeat, linear-gradient(180deg, hsl(237, 17%, 21%) 5%, hsl(237, 23%, 32%) 60%);
    background-size: 160%;
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
  .phone .inside {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    padding-bottom: 7rem;
    margin-top: 14rem;
    margin-bottom: 4rem;
  }
  .phone .inside .picture {
    width: 100%;
    max-width: 500px;
    padding-right: 0;
  }
  .phone .inside .picture img {
    right: 0;
    bottom: 2rem;
    width: 100%;
  }
  .phone .inside .text {
    width: 100%;
    padding: 0 2rem;
  }
  .phone .inside .text h2 {
    margin-bottom: 1rem;
  }
  .laptop .inside {
    padding: 0rem 9rem;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }
  .laptop .inside .picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .laptop .inside .picture img {
    position: relative;
    right: 0;
  }
  .laptop .inside .picture .desktop-picture {
    display: none;
  }
  .laptop .inside .picture .mobile-picture {
    display: flex;
  }
  .laptop .inside .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 4rem;
  }
  .laptop .inside .text h3 {
    color: hsl(208, 49%, 24%);
    font-family: Overpass;
    font-size: 1.8rem;
    margin: 1.5rem 0;
    width: 100%;
  }
  .laptop .inside .text p {
    color: hsl(207, 13%, 34%);
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 3rem;
    width: 100%;
  }
  footer .inside {
    flex-direction: column;
    align-items: center;
  }
  footer .inside .logo {
    margin-bottom: 3rem;
  }
  footer .inside .footer-category {
    align-items: center;
  }
  footer .inside .footer-category ul {
    align-items: center;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  height: 3rem;
  width: 8rem;
}
.btn.btn-colored {
  color: hsl(356, 100%, 66%);
  background: hsl(0, 0%, 100%);
}
.btn.btn-colored:hover {
  background: rgb(255, 138, 157);
  color: hsl(0, 0%, 100%);
}
.btn.btn-borded {
  color: #ffe0dd;
  border: 1px solid #ffe0dd;
}
.btn.btn-borded:hover {
  background: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}

/*# sourceMappingURL=main.css.map */
