*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
  font-style: normal;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
}

header {
  position: relative;
  padding: 3rem 9rem;
  border-radius: 0 0 0 6rem;
  background: url(./images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, hsl(13, 100%, 72%) 5%, hsl(353, 100%, 62%) 60%);
  color: hsl(0, 0%, 100%);
  background-size: 220%;
  background-position: left 24% bottom 48%;
}
@media (max-width: 1024px) {
  header {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (max-width: 900px) {
  header {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-container nav {
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.menu-container nav .nav-mobile {
  display: none;
}
.menu-container nav .nav-desktop {
  display: flex;
  gap: 1.2rem;
}
.menu-container nav .nav-desktop li {
  color: #FFE0DD;
  display: flex;
  gap: 0.3rem;
}
.menu-container .connexion-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu-container .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 6rem;
}
.content .title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  font-family: Overpass;
}
.content .subtitle {
  margin: 1rem auto;
  color: #FFE0DD;
}
.content .intro-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1.5rem auto;
}

.section1 {
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9rem;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .section1 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (max-width: 900px) {
  .section1 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.section1 h2 {
  margin: 150px auto;
  position: absolute;
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 2.5rem;
}
.section1 .section1-content {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.section1 .section1-content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-top: 4rem;
}
.section1 .section1-content .text h3 {
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 1.8rem;
  margin: 1.5rem 0;
}
.section1 .section1-content .text p {
  color: hsl(207, 13%, 34%);
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.section1 .section1-content .picture {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  padding: 5rem;
}
.section1 .section1-content .picture .desktop-picture {
  display: flex;
  position: absolute;
}
.section1 .section1-content .picture .mobile-picture {
  display: none;
}
@media (max-width: 768px) {
  .section1 {
    height: auto;
    text-align: center;
    padding: 0 0.5rem;
  }
  .section1 h2 {
    position: relative;
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 1.7rem;
  }
  .section1 .section1-content {
    flex-direction: column-reverse;
  }
  .section1 .section1-content .text {
    width: 100%;
    padding: 0 1.5rem;
  }
  .section1 .section1-content .picture {
    width: 100%;
    justify-content: center;
    padding: 1.5rem 0rem;
  }
  .section1 .section1-content .picture .desktop-picture {
    display: none;
    position: absolute;
  }
  .section1 .section1-content .picture .mobile-picture {
    display: flex;
    margin: 1rem auto;
  }
}

.section2 {
  display: flex;
  align-items: center;
  height: 400px;
  padding: 0 9rem;
  border-radius: 0 6rem 0 6rem;
  background: url(./images/bg-pattern-circles.svg) -200px 80%/70% no-repeat, linear-gradient(90deg, hsl(237, 17%, 21%) 5%, hsl(237, 23%, 32%) 60%);
  color: hsl(0, 0%, 100%);
}
@media (max-width: 1024px) {
  .section2 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (max-width: 900px) {
  .section2 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.section2 .picture {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-top: 40px;
  padding-right: 1.5rem;
}
.section2 .text {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section2 .text h2 {
  margin-bottom: 2rem;
  font-family: Overpass;
  font-size: 2.5rem;
  font-weight: 500;
}
.section2 .text p {
  color: hsl(240, 2%, 79%);
  font-size: 1rem;
  line-height: 2rem;
}
@media (max-width: 768px) {
  .section2 {
    height: 625px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    padding-bottom: 7rem;
    margin-top: 14rem;
    margin-bottom: 4rem;
    text-align: center;
    background: url(./images/bg-pattern-circles.svg) center -230px/contain no-repeat, linear-gradient(180deg, hsl(237, 17%, 21%) 5%, hsl(237, 23%, 32%) 60%);
    background-size: 160%;
  }
  .section2 .picture {
    width: 100%;
    padding-right: 0;
  }
  .section2 .picture img {
    width: 100%;
  }
  .section2 .text {
    width: 100%;
    padding: 0 2rem;
  }
  .section2 .text h2 {
    margin-bottom: 1rem;
  }
}

.section3 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  align-items: center;
  padding: 2rem 9rem;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .section3 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (max-width: 900px) {
  .section3 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.section3 .picture {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-right: 1.5rem;
}
.section3 .picture .mobile-picture {
  display: none;
}
.section3 .text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 4rem;
}
.section3 .text h3 {
  color: hsl(208, 49%, 24%);
  font-family: Overpass;
  font-size: 1.8rem;
  margin: 1.5rem 0;
  width: 100%;
}
.section3 .text p {
  color: hsl(207, 13%, 34%);
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}
@media (max-width: 768px) {
  .section3 {
    flex-direction: column;
    height: auto;
    padding: 0 1.5rem;
    line-height: 1rem;
    text-align: center;
  }
  .section3 .picture {
    width: 100%;
    padding-right: 0;
    justify-content: center;
  }
  .section3 .picture .mobile-picture {
    display: flex;
  }
  .section3 .picture .desktop-picture {
    display: none;
  }
  .section3 .text {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

footer {
  color: hsl(0, 0%, 100%);
  background: hsl(240, 10%, 16%);
  padding: 4rem 9rem;
  border-radius: 0 6rem 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  footer {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (max-width: 900px) {
  footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
footer .footer-category {
  display: flex;
  flex-direction: column;
  width: 25%;
}
footer .footer-category p {
  font-weight: 500;
  margin-bottom: 2.5rem;
  margin-top: 1.8rem;
}
footer .footer-category ul {
  display: flex;
  flex-direction: column;
}
footer .footer-category ul li {
  color: hsl(240, 2%, 79%);
  margin-bottom: 1.1rem;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .logo {
    margin-bottom: 3rem;
  }
  footer .footer-category {
    align-items: center;
  }
  footer .footer-category ul {
    align-items: center;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  height: 3rem;
  width: 8rem;
}
.btn.btn-white {
  color: hsl(356, 100%, 66%);
  background: hsl(0, 0%, 100%);
}
.btn.btn-borded {
  color: #FFE0DD;
  border: 1px solid #FFE0DD;
}

/*# sourceMappingURL=main.css.map */
