*,
::before,
::after {

    // border: 1px solid pink;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Ubuntu";
    font-style: normal;
    text-decoration: none;
    list-style: none;
    color: inherit;

}

body {
    max-width: 1440px;
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: Overpass;
}