// Buttons style :

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  height: 3rem;
  width: 8rem;

  &.btn-colored {
    color: $light-red;
    background: $white;

    @media (max-width: 768px) {
      color: $white;
      background: linear-gradient(
        90deg,
        $very-light-red-gradient 0%,
        $light-red-gradient 100%
      );
    }
  }

  &.btn-borded {
    color: $text-grey-red;
    border: 1px solid $text-grey-red;
  }
}
