// Buttons style :

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  height: 3rem;
  width: 8rem;

  &.btn-colored {
    color: $light-red;
    background: $white;
  }

  &.btn-borded {
    color: $text-grey-red;
    border: 1px solid $text-grey-red;
  }
}
