.logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: $white;
}

header {
  .inside {
    // border: 1px solid blue;

    position: fixed;
    // left: center;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4rem 9rem 4rem 9rem;
    gap: 0.5rem;

    // background-color: $very-light-red-gradient;

    .mobile-menu-btn {
      display: flex;

      .burgerBtn {
        display: none;
        cursor: pointer;
        height: 24px;
        width: 32px;
      }

      .closeBtn {
        display: none;
        cursor: pointer;
      }
    }

    .menu-container {
      border: 1px solid blue;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      gap: 2rem;
      width: 100%;

      .nav {
        border: 1px solid yellow;

        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        gap: 3rem;

        .nav-links {
          // border: 2px solid green;
          display: flex;
          gap: 2rem;
          height: 100%;

          .category-link {
            border: 1px solid blue;
            position: relative;
            display: flex;
            height: 100%;
            // width: 100%;

            .menuTitle {
              // border: 1px solid green;
              // height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $text-grey-red;
              gap: 0.3rem;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }

              span {
                .arrow-dark {
                  display: none;
                }

                span {
                  .arrow-light {
                    display: flex;
                  }
                }
              }
            }

            &:hover > .menuItems {
              display: flex;
            }

            &:active > .menuItems {
              display: flex;
            }

            &:hover > .menuTitle span img {
              transform: rotate(180deg);
            }

            &:active > .menuTitle span img {
              transform: rotate(180deg);
            }

            .menuItems {
              display: none;

              flex-direction: column;
              position: absolute;
              top: 2rem;
              left: -1.5rem;
              background: $white;
              border-radius: 5px;
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
              gap: 1rem;
              margin: 1rem 0;
              padding: 2rem 3rem 1.5rem 1.5rem;

              .menuItem {
                color: $black;
                margin-bottom: 0.8rem;

                &:hover {
                  font-weight: bolder;
                }
              }
            }
          }
        }
      }

      .connexion {
        border: 1px solid yellow;
        align-items: center;
        display: flex;
        color: $text-grey-red;
        gap: 2rem;
      }
    }
  }
}

// SECTION 1 //
.intro {
  position: relative;
  padding: 7rem 3rem 4rem 3rem;
  border-radius: 0 0 0 6rem;
  background: url(./images/bg-pattern-intro-desktop.svg),
    linear-gradient(90deg, $very-light-red-gradient 5%, $light-red-gradient 60%);
  color: $white;
  background-size: 220%;
  background-position: left 24% bottom 48%;

  .inside {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 8rem 0 6rem 0;
      text-align: center;

      .title {
        font-size: 4rem;
        font-weight: 500;
        font-family: Overpass;
      }

      .subtitle {
        margin: 1rem auto;
        color: $text-grey-red;
      }

      .start-learn {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 1.5rem auto;
      }
    }
  }
}

// SECTION 2 //
.designed {
  .inside {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 9rem;
    margin: 10rem auto;

    .title {
      color: $very-dark-blue;
      font-family: Overpass;
      font-size: 2.5rem;
    }

    .content {
      text-align: left;
      margin-top: 5rem;
      height: 100%;
      display: flex;
      flex-direction: row;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin-top: 0rem;

        h3 {
          color: $very-dark-blue;
          font-family: Overpass;
          font-size: 1.8rem;
          margin: 1.5rem 0;
        }

        p {
          color: $very-dark-grayish-blue;
          font-size: 1rem;
          line-height: 2rem;
          margin-bottom: 3rem;
        }
      }

      .picture {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        padding: 5rem;

        .desktop-picture {
          display: flex;
          position: absolute;
          height: 880px;
        }

        .mobile-picture {
          display: none;
        }
      }
    }
  }
}

// SECTION 3 //
.phone {
  border-radius: 0 6rem 0 6rem;
  background: url(./images/bg-pattern-circles.svg) -200px 80%/70% no-repeat,
    linear-gradient(
      90deg,
      $very-dark-gray-blue-gradient 5%,
      $very-dark-desaturated-blue 60%
    );
  color: $white;
  padding: 8rem 0rem;

  .inside {
    display: flex;
    align-items: center;
    padding: 0rem 9rem;

    .picture {
      // border: 1px solid pink;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      img {
        position: absolute;
        right: 3rem;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      width: 50%;

      h2 {
        margin-bottom: 2rem;
        font-family: Overpass;
        font-size: 2.5rem;
        font-weight: 500;
      }

      p {
        color: $grayish-blue;
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
}

// SECTION 4 //
.laptop {
  .inside {
    padding: 14rem 9rem;
    flex-direction: row;
    position: relative;
    align-items: center;

    .picture {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      img {
        position: absolute;
        right: 3rem;
      }

      .mobile-picture {
        display: none;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: 4rem;

      h3 {
        color: $very-dark-blue;
        font-family: Overpass;
        font-size: 1.8rem;
        margin: 1.5rem 0;
        width: 100%;
      }

      p {
        color: $very-dark-grayish-blue;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 3rem;
        width: 100%;
      }
    }
  }
}

// FOOTER //
footer {
  color: $white;
  background: $very-dark-black-blue;
  padding: 4rem 9rem;
  border-radius: 0 6rem 0 0;

  .inside {
    display: flex;
    flex-direction: row;

    .footer-category {
      // border: 1px solid pink;

      display: flex;
      flex-direction: column;
      width: 25%;

      p {
        font-weight: 500;
        margin-bottom: 2.5rem;
        margin-top: 1.8rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        // margin-bottom: 1.8rem;

        li {
          color: $grayish-blue;
          margin-bottom: 1.1rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//* MEDIA QUERIES *//

@media (max-width: 1100px) {
  .designed {
    h2 {
      margin-top: 90px;
    }
  }
}

@media (max-width: 768px) {
  // HEADER //
  header {
    .inside {
      // border: 2px solid green;

      padding: 2.5rem 1.5rem 2.5rem 1.5em;

      .logo {
        font-size: 2rem;
        font-weight: 500;
      }

      .mobile-menu-btn {
        display: flex;

        .burgerBtn {
          display: flex;
        }

        .closeBtn {
          display: none;
          cursor: pointer;
        }
      }

      .menu-container {
        // display: none;

        position: fixed;
        z-index: 10;
        color: $very-dark-blue;
        font-size: 1.1rem;
        background: white;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        flex-direction: column;
        top: 8rem;
        gap: 1.5rem;
        width: 90%;
        padding: 1.5rem;
        margin: auto;

        .nav-links {
          flex-direction: column;
          align-items: center;
          position: relative;
          text-align: center;
          width: 100%;
          gap: 0;

          .category-link {
            flex-direction: column;

            .menuTitle {
              color: $very-dark-blue;
              // margin-bottom: 1.5rem;

              span {
                .arrow-dark {
                  display: flex;
                }

                .arrow-light {
                  display: none;
                }
              }
            }

            .menuItems {
              position: relative;
              flex-direction: column;
              top: 0;
              left: 0;
              box-shadow: none;
              padding: 1.5rem 0;
              gap: 1rem;
              background: $bg-light-grey;

              .menuItem {
                width: 100%;
                color: $very-dark-blue;
                // background: green;
              }
            }
          }
        }

        // .separationBar {
        //   display: flex;
        //   height: 1px;
        //   width: 100%;
        //   background: $bg-light-grey;
        // }

        .connexion-links {
          flex-direction: column;
          margin: 0.8rem;
          gap: 1.5rem;

          // background: green;

          .btn-colored {
            color: $white;
            background: linear-gradient(
              90deg,
              $very-light-red-gradient 0%,
              $light-red-gradient 1000%
            );
          }
        }
      }
    }

    // .mobile-menu {
    //   display: flex;
    //   opacity: 1;
    // }
  }

  // SECTION 1 (<768px) //
  .intro {
    // padding: 0 1.5rem;

    .inside {
      .content {
        .title {
          font-size: 2.3rem;
        }

        .subtitle {
          margin: 1rem 1rem;
        }
      }
    }
  }

  // SECTION 2 (<768px) //
  .designed {
    .inside {
      height: auto;
      text-align: center;
      padding: 0 0.5rem;
      margin: 1rem auto;

      .title {
        font-size: 2rem;
      }

      .content {
        flex-direction: column-reverse;
        margin-top: 1rem;
        padding-bottom: 17rem;

        .text {
          text-align: center;
          width: 100%;
          padding: 0 1.5rem;

          h3 {
            padding: 0 3rem;
          }
        }

        .picture {
          width: 100%;
          justify-content: center;
          padding: 1.5rem 0rem;

          .desktop-picture {
            display: none;
            position: absolute;
          }

          .mobile-picture {
            display: flex;
            margin: 1rem auto;
          }
        }
      }
    }
  }

  // SECTION 3 (<768px) //
  .phone {
    text-align: center;

    background: url(./images/bg-pattern-circles.svg) center -230px / contain no-repeat,
      linear-gradient(
        180deg,
        $very-dark-gray-blue-gradient 5%,
        $very-dark-desaturated-blue 60%
      );
    background-size: 160%;
    padding-top: 2rem;
    padding-bottom: 0rem;

    .inside {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      padding-bottom: 7rem;
      margin-top: 14rem;
      margin-bottom: 4rem;

      .picture {
        width: 100%;
        max-width: 500px;
        padding-right: 0;

        img {
          right: 0;
          bottom: 2rem;
          width: 100%;
        }
      }

      .text {
        width: 100%;
        padding: 0 2rem;

        h2 {
          margin-bottom: 1rem;
        }
      }
    }
  }

  // SECTION 4 (<768px) //
  .laptop {
    .inside {
      padding: 0rem 9rem;
      flex-direction: column;
      align-items: center;
      .picture {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
          position: relative;
          right: 0;
        }

        .desktop-picture {
          display: none;
        }

        .mobile-picture {
          display: flex;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 4rem;

        h3 {
          color: $very-dark-blue;
          font-family: Overpass;
          font-size: 1.8rem;
          margin: 1.5rem 0;
          width: 100%;
        }

        p {
          color: $very-dark-grayish-blue;
          font-size: 1rem;
          line-height: 2rem;
          margin-bottom: 3rem;
          width: 100%;
        }
      }
    }
  }

  // FOOTER (<768px) //
  footer {
    .inside {
      flex-direction: column;
      align-items: center;

      .logo {
        margin-bottom: 3rem;
      }

      .footer-category {
        align-items: center;

        ul {
          align-items: center;
        }
      }
    }
  }
}
