header {
  position: relative;
  padding: 3rem 9rem;
  border-radius: 0 0 0 6rem;
  background: url(./images/bg-pattern-intro-desktop.svg),
    linear-gradient(90deg, $very-light-red-gradient 5%, $light-red-gradient 60%);
  color: $white;
  background-size: 220%;
  background-position: left 24% bottom 48%;
  @include responsive-sides-padding;

  @media (max-width: 768px) {
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  // margin-bottom: 3rem;
}

.top-header {
  // border: 1px solid blue;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  & .burgerBtn {
    display: none;

    position: absolute;
    top: 4rem;
    right: 1.5rem;
    cursor: pointer;
  }

  & .all-nav-links {
    // border: 1px solid yellow;

    display: flex;
    align-items: center;
    width: 100%;
    // height: 100%;
    justify-content: space-between;
    gap: 3rem;

    & .nav-links {
      // border: 2px solid green;
      display: flex;
      gap: 2rem;

      & .category-link {
        // border: 1px solid blue;
        position: relative;
        display: flex;
        width: 100%;

        & .menuTitle {
          // border: 1px solid green;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $text-grey-red;
          gap: 0.3rem;
          margin: 0.5rem 0;
          cursor: pointer;

          & span {
            & .arrow-dark {
              display: none;
            }

            & span {
              & .arrow-light {
                display: flex;
              }
            }
          }
        }

        &:hover > .menuItems {
          display: flex;
        }

        &:active > .menuItems {
          display: flex;
        }

        &:hover > .menuTitle span img {
          transform: rotate(180deg);
        }

        &:active > .menuTitle span img {
          transform: rotate(180deg);
        }

        & .menuItems {
          display: none;

          // display: flex;

          flex-direction: column;
          position: absolute;
          top: 1.5rem;
          left: -1.5rem;
          background: $white;
          border-radius: 5px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          gap: 1rem;
          margin: 1rem 0;

          padding: 2rem 3rem 1.5rem 1.5rem;

          & .menuItem {
            color: $black;
            margin-bottom: 0.8rem;
          }
        }
      }
    }

    & .separationBar {
      display: none;
    }

    & .connexion-links {
      // border: 2px solid green;
      align-items: center;
      display: flex;
      gap: 2rem;

      &.btn-colored {
        color: $light-red;
        background: $white;
      }
    }
  }

  @media (max-width: 768px) {
    // border: 2px solid green;

    & .burgerBtn {
      display: flex;
    }

    & .all-nav-links {
      display: none;

      position: absolute;
      color: $very-dark-blue;
      font-size: 1.1rem;
      background: white;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      flex-direction: column;
      top: 8rem;
      gap: 1.5rem;

      z-index: 10;

      // left: 0;
      width: 90%;
      padding: 1.5rem;
      margin: auto;

      & .nav-links {
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
        width: 100%;
        gap: 0;

        & .category-link {
          flex-direction: column;

          & .menuTitle {
            color: $very-dark-blue;
            // margin-bottom: 1.5rem;

            & span {
              & .arrow-dark {
                display: flex;
              }

              & .arrow-light {
                display: none;
              }
            }
          }

          & .menuItems {
            position: relative;
            flex-direction: column;
            top: 0;
            left: 0;
            box-shadow: none;
            padding: 1.5rem 0;
            gap: 1rem;
            background: $bg-light-grey;

            & .menuItem {
              width: 100%;
              color: $very-dark-blue;
              // background: green;
            }
          }
        }
      }

      & .separationBar {
        display: flex;
        height: 1px;
        width: 100%;
        background: $bg-light-grey;
      }

      & .connexion-links {
        flex-direction: column;
        margin: 0.8rem;
        gap: 1.5rem;

        // background: green;

        & .btn-colored {
          color: $white;
          background: linear-gradient(
            90deg,
            $very-light-red-gradient 0%,
            $light-red-gradient 1000%
          );
        }
      }
    }
  }

  .mobile-menu {
    display: flex;
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 6rem;

  & .title {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    font-family: Overpass;
  }

  & .subtitle {
    margin: 1rem auto;
    color: $text-grey-red;
  }

  & .start-learn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1.5rem auto;
  }
}

// SECTION 1 //
.section1 {
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9rem;
  overflow: hidden;
  @include responsive-sides-padding;

  & h2 {
    margin: 150px auto;
    position: absolute;
    color: $very-dark-blue;
    font-family: Overpass;
    font-size: 2.5rem;
  }

  & .section1-content {
    height: 100%;
    display: flex;
    flex-direction: row;

    & .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-top: 4rem;

      & h3 {
        color: $very-dark-blue;
        font-family: Overpass;
        font-size: 1.8rem;
        margin: 1.5rem 0;
      }

      & p {
        color: $very-dark-grayish-blue;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 3rem;
      }
    }

    & .picture {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      padding: 5rem;

      & .desktop-picture {
        display: flex;
        position: absolute;
      }

      & .mobile-picture {
        display: none;
      }
    }
  }

  @media (max-width: 1100px) {
    & h2 {
      margin-top: 90px;
    }
  }

  @media (max-width: 768px) {
    height: auto;
    text-align: center;
    padding: 0 0.5rem;

    & h2 {
      position: relative;
      margin-top: 100px;
      margin-bottom: 0;
      font-size: 1.7rem;
    }

    & .section1-content {
      flex-direction: column-reverse;

      & .text {
        width: 100%;
        padding: 0 1.5rem;
      }

      & .picture {
        width: 100%;
        justify-content: center;
        padding: 1.5rem 0rem;

        & .desktop-picture {
          display: none;
          position: absolute;
        }

        & .mobile-picture {
          display: flex;
          margin: 1rem auto;
        }
      }
    }
  }
}

// SECTION 2 //
.section2 {
  display: flex;
  align-items: center;
  height: 400px;
  padding: 0 9rem;
  border-radius: 0 6rem 0 6rem;
  background: url(./images/bg-pattern-circles.svg) -200px 80%/70% no-repeat,
    linear-gradient(
      90deg,
      $very-dark-gray-blue-gradient 5%,
      $very-dark-desaturated-blue 60%
    );
  color: $white;
  @include responsive-sides-padding;

  & .picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-top: 40px;
    padding-right: 1.5rem;
  }

  & .text {
    display: flex;
    flex-direction: column;
    width: 50%;

    & h2 {
      margin-bottom: 2rem;
      font-family: Overpass;
      font-size: 2.5rem;
      font-weight: 500;
    }

    & p {
      color: $grayish-blue;
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  @media (max-width: 768px) {
    height: 625px;
    // height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    padding-bottom: 7rem;
    margin-top: 14rem;
    margin-bottom: 4rem;
    text-align: center;

    background: url(./images/bg-pattern-circles.svg) center -230px / contain no-repeat,
      linear-gradient(
        180deg,
        $very-dark-gray-blue-gradient 5%,
        $very-dark-desaturated-blue 60%
      );
    background-size: 160%;

    & .picture {
      width: 100%;
      max-width: 500px;
      padding-right: 0;

      & img {
        width: 100%;
      }
    }

    & .text {
      width: 100%;
      padding: 0 2rem;

      & h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

// SECTION 3 //
.section3 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  align-items: center;
  padding: 2rem 9rem;
  overflow: hidden;
  @include responsive-sides-padding;

  & .picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 1.5rem;

    & .mobile-picture {
      display: none;
    }
  }

  & .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 4rem;

    & h3 {
      color: $very-dark-blue;
      font-family: Overpass;
      font-size: 1.8rem;
      margin: 1.5rem 0;
      width: 100%;
    }

    & p {
      color: $very-dark-grayish-blue;
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 3rem;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 0 1.5rem;
    line-height: 1rem;
    text-align: center;

    & .picture {
      width: 100%;
      padding-right: 0;
      justify-content: center;

      & .mobile-picture {
        display: flex;
      }

      & .desktop-picture {
        display: none;
      }
    }

    & .text {
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
}

// FOOTER //
footer {
  color: $white;
  background: $very-dark-black-blue;
  padding: 4rem 9rem;
  border-radius: 0 6rem 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @include responsive-sides-padding;

  & .footer-category {
    display: flex;
    flex-direction: column;
    width: 25%;

    & p {
      font-weight: 500;
      margin-bottom: 2.5rem;
      margin-top: 1.8rem;
    }

    & ul {
      display: flex;
      flex-direction: column;
      // margin-bottom: 1.8rem;

      & li {
        color: $grayish-blue;
        margin-bottom: 1.1rem;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    & .logo {
      margin-bottom: 3rem;
    }
    & .footer-category {
      align-items: center;
      & ul {
        align-items: center;
      }
    }
  }
}
