header {
  position: relative;
  padding: 3rem 9rem;
  border-radius: 0 0 0 6rem;
  background: url(../images/bg-pattern-intro-desktop.svg),
    linear-gradient(90deg, $very-light-red-gradient 5%, $light-red-gradient 60%);

  color: $white;
  background-size: 200%;
  background-position: left 17% bottom 47%;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    & ul {
      display: flex;
      gap: 1.2rem;
      & li {
        color: $text-grey-red;
        display: flex;
        gap: 0.3rem;
      }
    }
  }

  & .connexion-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 6rem;

  & h1 {
    font-size: 4rem;
    font-weight: 500;
    font-family: Overpass;
  }

  & .subtitle {
    margin: 1rem auto;
    color: $text-grey-red;
  }

  & .intro-btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1.5rem auto;
  }
}

// Section 1 : Designed for the future

.section1 {
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9rem;
  overflow: hidden;

  & h2 {
    margin: 150px auto;
    position: absolute;
    color: $very-dark-blue;
    font-family: Overpass;
    font-size: 2.5rem;
  }

  & .section1-content {
    height: 100%;
    display: flex;
    flex-direction: row;

    & .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-top: 4rem;

      & h3 {
        color: $very-dark-blue;
        font-family: Overpass;
        font-size: 1.8rem;
        margin: 1.5rem 0;
      }

      & p {
        color: $very-dark-grayish-blue;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 3rem;
      }
    }

    & .picture {
      width: 50%;
      padding: 5rem;

      & img {
        position: absolute;
        // top: 10%;
        // height: 100%;
      }
    }
  }
}

// Section 2 : State of the Art Infrastructure

.section2 {
  display: flex;
  align-items: center;
  height: 400px;
  padding-right: 9rem;
  padding-left: 7rem;
  border-radius: 0 6rem 0 6rem;
  background: url(../images/bg-pattern-circles.svg),
    linear-gradient(
      90deg,
      $very-dark-gray-blue-gradient 5%,
      $very-dark-desaturated-blue 60%
    );
  background-position: left -50% top 80%;
  background-repeat: no-repeat;

  color: $white;

  & .picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-top: 40px;
    padding-right: 1.5rem;
  }

  & .text {
    display: flex;
    flex-direction: column;
    width: 50%;

    & h2 {
      margin-bottom: 2rem;
      font-family: Overpass;
      font-size: 2.5rem;
      font-weight: 500;
    }

    & p {
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}

// Section 3 : "Laptop"
.section3 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  align-items: center;
  padding: 2rem 9rem;
  overflow: hidden;

  & .picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 1.5rem;
  }

  & .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 4rem;

    & h3 {
      color: $very-dark-blue;
      font-family: Overpass;
      font-size: 1.8rem;
      margin: 1.5rem 0;
      width: 100%;
    }

    & p {
      color: $very-dark-grayish-blue;
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 3rem;
      width: 100%;
    }
  }
}

// FOOTER :
footer {
  color: $white;
  background: $very-dark-black-blue;
  padding: 4rem 9rem;
  border-radius: 0 6rem 0 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  & .footer-category {
    display: flex;
    flex-direction: column;
    width: 25%;

    & p {
      font-weight: 500;
      margin-bottom: 2.5rem;
    }

    & ul {
      display: flex;
      flex-direction: column;

      & li {
        color: $grayish-blue;
        margin-bottom: 1.1rem;
      }
    }
  }
}
