header {
  position: relative;
  padding: 3rem 9rem;
  border-radius: 0 0 0 6rem;
  background: url(../images/bg-pattern-intro-desktop.svg),
    linear-gradient(90deg, $very-light-red-gradient 5%, $light-red-gradient 60%);
  color: $white;
  background-size: 220%;
  background-position: left 24% bottom 48%;
  @include responsive-sides-padding;

  @media (max-width: 768px) {
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  // margin-bottom: 3rem;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    & .nav-mobile {
      display: none;
    }

    & ul {
      display: flex;
      gap: 1.2rem;

      & li {
        color: $text-grey-red;
        display: flex;
        gap: 0.3rem;
      }
    }
  }

  & .connexion-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 6rem;

  & .title {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    font-family: Overpass;
  }

  & .subtitle {
    margin: 1rem auto;
    color: $text-grey-red;
  }

  & .intro-btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1.5rem auto;
  }
}

// SECTION 1 //

.section1 {
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9rem;
  overflow: hidden;
  @include responsive-sides-padding;

  & h2 {
    margin: 150px auto;
    position: absolute;
    color: $very-dark-blue;
    font-family: Overpass;
    font-size: 2.5rem;
  }

  & .section1-content {
    height: 100%;
    display: flex;
    flex-direction: row;

    & .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-top: 4rem;

      & h3 {
        color: $very-dark-blue;
        font-family: Overpass;
        font-size: 1.8rem;
        margin: 1.5rem 0;
      }

      & p {
        color: $very-dark-grayish-blue;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 3rem;
      }
    }

    & .picture {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      padding: 5rem;

      & .desktop-picture {
        display: flex;
        position: absolute;
      }

      & .mobile-picture {
        display: none;
      }
    }
  }
  // @include responsive-header;
  @media (max-width: 768px) {
    display: none;

    height: auto;

    & h2 {
      margin-top: 100px;
      margin-bottom: 0;
      position: relative;
      font-size: 1.8rem;
    }

    & .section1-content {
      flex-direction: column-reverse;

      & text {
        width: 100%;
      }

      & .picture {
        width: 100%;
        justify-content: center;
        padding: 1.5rem 0rem;

        & .desktop-picture {
          display: none;
          position: absolute;
        }

        & .mobile-picture {
          display: flex;
          margin: 1rem auto;
        }
      }
    }
  }
}

// SECTION 2 : State of the Art Infrastructure

.section2 {
  display: flex;
  align-items: center;
  height: 400px;
  padding: 0 9rem;
  border-radius: 0 6rem 0 6rem;
  background: url(../images/bg-pattern-circles.svg),
    linear-gradient(
      90deg,
      $very-dark-gray-blue-gradient 5%,
      $very-dark-desaturated-blue 60%
    );
  background-position: left -50% top 80%;
  background-repeat: no-repeat;
  color: $white;
  @include responsive-sides-padding;

  & .picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-top: 40px;
    padding-right: 1.5rem;
  }

  & .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: $grayish-blue;

    & h2 {
      margin-bottom: 2rem;
      font-family: Overpass;
      font-size: 2.5rem;
      font-weight: 500;
    }

    & p {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  @media (max-width: 768px) {
    height: 625px;
    // height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    padding-bottom: 7rem;
    margin-top: 300px;

    text-align: center;

    & .picture {
      width: 100%;
      padding-right: 0;

      & img {
        width: 100%;
      }
    }

    & .text {
      width: 100%;
      padding: 0 2rem;

      & h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

// SECTION 3 : "Laptop"
.section3 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 1010px;
  padding-top: 8rem;
  align-items: center;
  padding: 2rem 9rem;
  overflow: hidden;
  @include responsive-sides-padding;

  & .picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 1.5rem;

    & .mobile-picture {
      display: none;
    }
  }

  & .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 4rem;

    & h3 {
      color: $very-dark-blue;
      font-family: Overpass;
      font-size: 1.8rem;
      margin: 1.5rem 0;
      width: 100%;
    }

    & p {
      color: $very-dark-grayish-blue;
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 3rem;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 0 1.5rem;
    line-height: 1rem;
    text-align: center;

    & .picture {
      width: 100%;
      padding-right: 0;
      justify-content: center;

      & .mobile-picture {
        display: flex;
      }

      & .desktop-picture {
        display: none;
      }
    }

    & .text {
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
}

// FOOTER :
footer {
  color: $white;
  background: $very-dark-black-blue;
  padding: 4rem 9rem;
  border-radius: 0 6rem 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @include responsive-sides-padding;

  & .footer-category {
    display: flex;
    flex-direction: column;
    width: 25%;

    & p {
      font-weight: 500;
      margin-bottom: 2.5rem;
      margin-top: 1.8rem;
    }

    & ul {
      display: flex;
      flex-direction: column;
      // margin-bottom: 1.8rem;

      & li {
        color: $grayish-blue;
        margin-bottom: 1.1rem;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    & .logo {
      margin-bottom: 3rem;
    }
    & .footer-category {
      align-items: center;
      & ul {
        align-items: center;
      }
    }
  }
}
