@mixin responsive-sides-padding {
  @media (max-width: 1024px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  @media (max-width: 900px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
